<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_tag 'images/favicon.ico' %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Citizens Advice Intranet" %></title>
    <%= stylesheet_link_tag "index" %>
    <%= javascript_include_tag "index" %>
  </head>
  <body>
    <div class="wrapper">
      <%= partial "partials/header" %>
      <div id="#cads-main-content">
        <%= yield %>
      </div>
      <footer id="cads-footer">
        <div class="cads-grid-container">
          <div class="cads-grid-row">
            <div class="cads-grid-col-12">
              <div class="feedback">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScZs_BrDSCdKPTVSSRZdRgCUTvNSzWsOJjAFSR_gAUKJp09kQ/viewform?usp=sf_link">
                  Tell us what you think to help us improve it.
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
